@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 63, 44, 34; /* Loam Brown */
  --background-start-rgb: 253, 251, 247; /* Paper/Cream */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}